.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.about-content {
  width: 90%;
  max-width: 550px;
  margin: 50px 0;
}

.about-content-item {
  text-align: center;
}

.about-content-item .about-image {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: var(--transitions);
}

.about-content-item .about-image:hover {
  transform: scale(1.1);
}

.about-content-item p {
  font-size: var(--paragraph-font-size);
  line-height: calc(var(--paragraph-font-size) * 1.5);
}

.about-content-item h3,
.about-content-item p {
  margin-bottom: 2rem;
  font-weight: 400;
}

u.underline {
  text-decoration: var(--accent-secondary) wavy underline 2px;
}

.about-content-item h3::after {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  background: var(--theme-borders);
  margin: auto;
  margin-top: 1rem;
}

.about-content-item .about-social {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.about-content-item .about-social li {
  margin-right: 25px;
}

.about-content-item .about-social li:last-child {
  margin-right: 0;
}

.about-content-item .about-social li svg {
  width: 40px;
  height: auto;
  stroke: var(--icon-color);
  padding: 10px;
  background-color: var(--icon-bg-color);
  border-radius: 5px;
  transition: var(--transitions);
}

.about-content-item .about-social li svg:hover {
  stroke: var(--icon-color-hover);
  background-color: var(--icon-bg-hover-color);
}

@media only screen and (max-width: 800px) {
  .about-content-item .about-image {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  .about-content-item h1 {
    font-size: var(--res-title-font-size);
  }

  .about-content-item h3 {
    font-size: var(--res-title-sub-font-size);
  }

  .about-content-item p {
    font-size: var(--res-paragraph-font-size);
    line-height: calc(var(--res-paragraph-font-size) * 1.5);
  }
}
