.projects {
  flex-direction: row;
  height: 100vh;
  overflow: auto;
  color: var(--card-text);
}

.projects-content {
  width: 100%;
  display: flex;
  padding: 10px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects-button {
  width: 70%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.projects-button button {
  width: 135px;
  display: inline-block;
  padding: 10px 5px;
  margin: 0 7px 10px;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  background: var(--icon-bg-hover-color);
  transition: var(--transitions);
}

.projects-button button.active {
  background: var(--accent);
  font-weight: 700;
}

.projects-button button:hover {
  background: var(--icon-bg-color);
  color: var(--icon-color-hover);
  cursor: pointer;
}

.projects-button button:checked,
.projects-button button:focus {
  border: none;
  outline: none;
  background: var(--accent);
}

.projects-content-item {
  width: 360px;
  padding: 15px;
  margin: 0 45px 45px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--theme-borders);
  background: var(--card-bg);
  overflow: hidden;
  transition: var(--transitions);
}

.projects-content-item:hover {
  transform: scale(1.1);
}

.projects-image {
  width: 100%;
  height: 185px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.projects-image img {
  width: 100%;
  margin: auto;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.projects-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--card-element-bg);
  padding: 10px 0 0;
  gap: 5px;
}

.projects-info:last-child {
  padding: 10px 15px;
}

.projects-info-horizontal-divider {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-info-horizontal-divider::after {
  content: "";
  height: 1px;
  background: var(--card-text);
}

.projects-info-text {
  font-weight: 700;
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
}

.projects-info-text span:first-child {
  padding-right: 15px;
}

.projects-info-text span:last-child {
  padding-left: 15px;
}

.projects-info-text span a {
  transition: var(--transitions);
}

.projects-info-text span a:hover {
  color: var(--card-text-hover);
}

.projects-info-tags span,
.projects-info-description span {
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
}

.projects-info-tags span {
  color: var(--card-text-hover);
  word-spacing: 5px;
}

@media only screen and (max-width: 800px) {
  .projects-button {
    width: 100%;
  }

  .projects-content-item {
    width: 320px;
    padding: 15px;
    margin: 0 10px 45px 0;
  }

  .projects-content-item:hover {
    transform: scale(1);
  }

  .projects-image {
    width: 100%;
  }

  .projects-info {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0 0;
  }

  .projects-info:last-child {
    display: inline-block;
  }

  .projects-info-horizontal-divider {
    display: none;
  }

  .projects-info-tags span,
  .projects-info-description span {
    font-size: var(--res-paragraph-font-size);
  }

  .projects-info-tags {
    margin-bottom: 10px;
  }
}
