.card {
  width: 400px;
  height: auto;
  padding: 15px;
  margin: 25px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--theme-borders);
  background: var(--card-bg);
  transition: var(--transitions);
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.imageWrapper {
  width: 100%;
  max-height: 220px;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  background: var(--card-element-bg);
}

.image {
  width: 100%;
  margin: auto;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}

.titleWrapper {
  width: 100%;
  padding: 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleLink a {
  font-weight: 700;
  border-radius: 5px;
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
  transition: var(--transitions);
}

.titleLink a:hover {
  color: var(--card-text-hover);
}

.titleDivider {
  flex: 1 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleDivider::after {
  content: "";
  height: 1px;
  background: var(--theme-borders);
}

.infoWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 0.958rem;
  background: var(--card-element-bg);
}

.infoWrapper span {
  width: 220px;
  font-family: var(--body-font);
  font-size: var(--paragraph-font-size);
}

.infoWrapper span:first-child {
  color: var(--card-text-hover);
  word-spacing: 6px;
}

@media only screen and (max-width: 800px) {
  .card:hover {
    transform: inherit;
  }

  .infoWrapper {
    flex-wrap: wrap;
  }

  .infoWrapper span {
    width: 100%;
  }

  .titleDivider {
    display: none;
  }

  .infoWrapper span {
    font-size: var(--res-paragraph-font-size);
  }

  .infoWrapper span:first-child {
    order: 2;
  }
}
